#slide{
	background: url('../img/home/background-slide.png');
	// height:400px;
	padding:20px;
	.slide{
		border:5px solid #0466BE;
		// border-top:2px solid #0466BE;
		box-shadow: 0px 0px 30px black;
	}

}