@font-face {
  font-family: bebasneue;
  src: url(../fonts/BebasNeue.otf); }
@font-face {
  font-family: ptsan;
  src: url(../fonts/PTC55F.ttf); }
@font-face {
  font-family: cambri;
  src: url(../fonts/Cambria.ttf); }
  @font-face{
  	font-family: hevertical;
  	src: url('../fonts/HelveticaNeueLTStd-UltLtCn.otf');
  }
    @font-face{
  	font-family: robo;
  	src: url('../fonts/Roboto-Light.ttf');
  }
  @font-face{
  	font-family: robo-con;
  	src: url('../fonts/Roboto-Condensed.ttf');}
  $font-robo-conden:robo-con;
  $font-robo:robo;
 $color-gray:#8F8F8F;
 $font-vertical:hevertical;
$pt-font:ptsan;
$beba-font: bebasneue;
$cam-font:cambri;
$background-footer:#E04C56;
