#offer{
	height:300px;
	// background: #FF9400;
	margin:0 auto;
	width:105%;
	background:#FF9400;
	padding:0px;
	#offer-center{
		height: 100%;
		width: 100%;
		#offer-title{
		background: #FF9400;
		height: 100%; 
		// margin-left: 15px;
		margin-left:-30px;
		div{
			height: 80%;
			background:white;
			margin-top: 30px ;
			margin-right: 3%;
			padding: 10%;
			padding-left:5%;
			font-size: 25px;
			margin-left: 33%;
			margin-bottom: 30px;
		}
	}
	}
	.col-md-8{
		height: 100%;
		// width: 100%;
		margin-left: -10px;
		.item{
			margin-left: -19px;
			height:100%;
			.img{
				padding-left:0px;
				height: 100%;
				width: 100%;
			}
			img{
				width: 106%;
				height: 100%;
			}
		}
		.img{
			position:relative;
			.text{
				color:white;
				position: absolute;
				top:150px;
				left: 30px;

			}
			p{
				font-size: 25px;
			}
			.content{
				font-size: 13px;
			}
			a{
				color:darken(white,20%);
				padding:5px;
			}
			a:hover {
				color: #FF9400;
				border: 1px solid #FF9400;
				text-decoration: none;
			}
			}
	}
}