#offer{
	height:270px;
	// background: #FF9400;
	margin:0 auto;
	width:100%;
	
	padding:0px;
	#offer-center{
		height: 100%;
		width: 120%;
		#offer-title{
		background: #FF9400;
		height: 100%; 
		// margin-left: 15px;
		margin-left:-30px;
		div{
			height: 80%;
			background:white;
			margin-top: 6% ;
			margin-right: 3%;
			padding: 10%;
			padding-left:5%;
			font-size: 30px;
			margin-left: 40%;
			
		}
	}
	}
	#offer-main{
		margin-left: -15px;

		height: 100%;
		.item{
			padding-top:15%;
			color:white;
			span{
				font-size: 24px;
			}
			a{
				color:darken(white,10%);
			}
			a:hover {
				text-decoration: none;
				color:#E48605;
				border:2px solid #E48605;
			}
		}
		#offer1{
			height: 100%;
			// width: 80%;
			background: url('../img/home/offer-img2.png');
			background-repeat:no-repeat;
		}
		#offer2{
			height: 100%;
			background: url('../img/home/offer-img3.png');
			background-repeat:no-repeat;
		}
		#offer3{
			
			height: 100%;
			background: url('../img/home/offer-img4.png');
			background-repeat:no-repeat;
		}
	}
}