#menu{
	// padding-top:20px;
	text-align:left;
	.left-menu{
		// height: auto;
		float:left;
		// margin-left: 0px;
		// padding-right:-5%;
		// text-align: left;
		width: 50%;
		.container{
			width: 50%;
			position: relative;
		}
		img{
			// margin-right: 0px;
			margin-right: 0px;
			margin-bottom:20px;
		}
	}
	ul{
		margin-top: 10px;
		li{
			.fa{
				color:#005CB6;
			}
		}
	}
}